<div [attr.id]="id" class="form-array">
    <header>
        <h2>{{ data.label }}</h2>

        <button type="button" (click)="data.add()">Add</button>
    </header>

    <div [attr.id]="id + '-' + i" class="panel panel-default"
         *ngFor="let cell of data.children; let i=index">
        <button type="button" (click)="data.remove(i)">Remove</button>

        <div *ngFor="let each of cell | mapToIterable;" class="panel panel-default">
            <hb-form-widget
                    *ngIf="each.val.groupType == undefined"
                    [data]="each.val" [key]="i"></hb-form-widget>
            <hb-form-array
                    *ngIf="each.val?.groupType == 'array'"
                    [data]="each.val" [key]="each.key"></hb-form-array>
            <hb-form-object
                    *ngIf="each.val?.groupType == 'object'"
                    [data]="each.val" [key]="each.key"></hb-form-object>
        </div>
    </div>
</div>